@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #706c6c;
  border-radius: 0.625rem;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
  /* padding: 2rem; */
  /* text-align: center; */
}

@media (min-width: 768px) {
  .hero-box {
    max-width: 452px !important;
  }

  .hero-sm-box {
    max-width: 338px !important;
  }

  .heroImg {
    width: 505px;
    height: 450px;
  }

  .contact {
    font-size: 64px;
    max-width: 575px;
  }
}

/* @media (max-width: 767px) {
  .heroImg {
    display: block;
    margin: auto;
    width: 600px !important;
  }
} */

/* .contact-bg {
  background: url(./src/assets/contact-bg.svg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
} */
